<!doctype html>
<html>
  <head>
    <title>Maternity Leave by Country 2020</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
  </head>
<body>
	<div class="banner">
 		<div class="title">
 			<h1>Final Project for Phase 1 @ The TKH 2020 Innovation Fellowship</h1>
 		</div>	
	</div>
	<div class="about-me">
 		<div class="about-me-text">
 			<h2>About This Project</h2>
            <p>This is my Project for Phase 1 of the Data Science Fellowship at The Knowledge House (December, 2020).</p>
 			<p>I have scraped data from <a href="https://worldpopulationreview.com/country-rankings/maternity-leave-by-country">this website</a> comparing stats on Maternity Leave by country for 2020. I wrote a Python scraping script that targeted the data in the table on the website, cleaned up the data in the table, converted some data structures to the appropriate type and extracted the specific information needed. I wrote a script to create a database and I automated the process of storing the extracted data into my database. At last, I created a Flask Application that made my database accessible from the web, created app routes for 3 different views of my database, and deployed my API on Heroku.</p>
            <p>Technologies used: Python, Flask, Jinja, SQLite3, bs4, SqlAlchemy, jsonify, requests, HTML5, CSS3 and etc.</p>
            <p>This is the link to the <a href="https://github.com/stanislava85/TKH_Final_Project">GitHub repo</a> for this project.</p>
         </div>
    </div>
            <div class="nav"><h3>Views:</h3>
 			<ul>
 				<li><a href="/index">Scraped Data</a></li>
 				<li><a href="/table">Table of Results</a></li>
                <li><a href="/api">API/JSON</a></li>

 			</ul>	
 		</div>
        			
 			<div class="social-media">
                <h3>Connect with me on social media:</h3>
 				<ul>
 					<li><a href="https://www.linkedin.com/in/stanislava-hristova/">LinkedIn</a></li>
 					<li><a href="https://github.com/stanislava85">Github</a></li>
 				</ul>
 			</div>		

      <div class="footer">
          <p>Copyright Stanislava Hristova 2020</p>
      </div>
    <table>
    {% block body %}{% endblock %}
    </table>
</html>
